#container{
position: relative;
display: inline-block;

}

#pink{
    background-color: pink;
    display: inline-block;
    margin-left: 35%;
    height: 300px;
    width: 300px;
    margin-top: 10%;
}

#lightgreen{
    background-color: lightgreen;
    display: block;
    width: 200px;
    height: 100px;
}

#lightblue{
    background-color: lightblue;
    display: block;
    width: 200px;
    height: 100px;

}

#lightpruple{
    background-color: orchid;
    display: block;
    width: 200px;
    height: 100px;
}

#lightyellow{
    background-color: gold;
    display: inline-block;
    height: 300px;
    width: 300px;
}