body,p{
    margin: 0%;
    font-family: 'League Gothic'; font-size: 24px; font-weight: 400;
    color: #005696;
}


#topdiv{
    height: 6.8%;
    background-color: red;
    display: flex;
    align-items: center;

}

#welcomediv{
    background-color: #005696;
    height: 9.42%;
}

.topbardivs{
    background-color: turquoise;
    height: 50%;
    width: 5%;
    margin-right: 1%;
}

#culverslogo{
    margin-left: 22.35%;
    margin-right: 1.6%;
    width: 3.8%;
    margin-bottom: .3%;
}

#culverslogoimg{
    height: 110%;
    width: 105%;
}

#topbarmenu{
    width: 22.2%;
    display: flex;
    align-items: center;

}

#topbarmenu > div{
    margin-right: 4.2%;
}

#rewardsdiv{
margin-right: 0% !important;
}

#findlocation{
    margin-left: 16.49%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#findlocationtext{
    font-family: 'Roboto Flex';
    font-size: 14px;
    border: 1px solid #005696;
}